
.SearchEngineCard
{
height: 24rem;
width: 90rem;;
display: flex;
flex-wrap: wrap;
padding: 2rem;
justify-content: center;
background-color: rgba(2, 59, 90, 0.05);
// border:.1rem solid rgba(25, 0, 255, 0);
border-radius: 1rem;
box-shadow: 0 0 10px #ccc;
overflow: hidden;


&__header
{
text-align: center;
width: 100%;
-webkit-margin-before: 50px;
-webkit-margin-after: 50px;
-webkit-margin-start: 50px;
-webkit-margin-end: 50px;
border-bottom: 1px solid currentColor;


}
@media only screen and (max-width: 884px) {
  
    width: fit-content;
    height: fit-content;
}
}
