.separator{
    &__1,&__2{
        border-top: 0.2rem solid #94c13d;
       
    }
    &__color{
        border-top: 0.2rem solid #ddd;
        
    }
    &__light{
        border-top: 0.1rem solid #ddd; 
    }  
}